

<div class="container">
  <h5>Ejemplo de Tabla</h5>
    <table class="table table-dark table-striped">
        <thead>
          <tr>
            <th scope="col">userId</th>
            <th scope="col">id</th>
            <th scope="col">title</th>
            <th scope="col">completed</th>
            <th scope="col">Detalle</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of input">
              <th scope="row">{{item.userId}}</th>
              <td>{{item.id}}</td>
              <td>{{item.title}}</td>
              <td>{{item.completed}}</td>
              <td><button type="button" class="btn btn-light" [routerLink]="['/detalle',item.id]">Ver Detalle</button></td>
            </tr>
        </tbody>
    </table>
</div>
