<div class="botton">
  <button type="button" class="btn btn-dark" routerLink="home">Volver inicio</button>
</div>

<div class="container"  *ngIf="datos">
    <div class="card">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">userId:  {{datos.userId}}</li>
          <li class="list-group-item">id: {{datos.id}}</li>
          <li class="list-group-item">title: {{datos.title}}</li>
          <li class="list-group-item">completed: {{datos.completed}}</li>
        </ul>
      </div>
</div>